body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.navbar-nav > li > .dropdown-menu {
  color: white;
  background-color: black;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item {
  color: gray;
  font-weight: 300;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item:hover {
  background-color: black;
  color: white;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item.active {
  background-color: black;
  color: white;
}

.jumbotron {
  margin: 50px 0;
}

.jumbotron h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 7rem 0;
}

h1, h2, h3, h4, h5, p, li, small, label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container h2 {
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container h4 {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container {
  margin: 1rem;
}

.panel-group {
  margin: 1rem 1rem;
}

.panel-group.row {
  margin: 0 1rem;
}

.panel-heading {
  cursor: pointer;
  border-top: solid 1px lightgray;
  margin: 2px 0;
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
  padding-left: 0.2rem;
}

.panel-title:after {
  font-family: 'FontAwesome';
  content: "\f077";
  float: right;
  color: grey;
}

.panel-title.collapsed:after {
  content: "\f078";
}

.skill-box {
  text-align: center;
  height: 100%;
}
.skill-box:hover {
  border-radius: 20px;
  font-weight: 500;
  transform: translateY(4px);
}

.image {
  align-items: center;
  padding: 10px 10px;
}

.portfolio {
  margin: 1rem;
  display: block;
  align-content: center;
}

.screenshot {
  max-width: 100%;
  padding: 1rem;
}

.skill-box img {
  display: block;
  margin: auto;
  max-height: 100px;
}

.ss {
  padding: 0 !important;
}

.profile {
  margin: 1rem;
}

.contact-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fa {
  margin-left: 1rem;
  margin-right: 1rem;
}

.social-media a {
  text-align: center;
  color: black;
}
